[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = k-type-fix
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/uGFX
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED
[submodule "lib/Arduino"]
	path = lib/Arduino
	url = https://github.com/arduino/Arduino.git
[submodule "Sparkfun"]
	path = Sparkfun
	url = https://github.com/sparkfun/Arduino_Boards.git
